body {
    text-align: center;
}

.bodyContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 150px;
}

.bodyContainer h1 {
    background-image: linear-gradient(to right, #144EE3, #EB568E, #A353AA, #144EE3);
    background-clip: text;
    -webkit-text-fill-color: transparent;


    font-size: 3em;
}

.linkInputContainer {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    height: 300px; */

    display: flex;
    margin-top: 50px;
}




.linkInputContainer input {
    width: 400px;
    height: 45px;

    flex-grow: 1;
    border-radius: 35px;
    border: 2px solid #323e5a;
    background-color: #181e29;

    color: #c9ced6;
    padding: 5px 15px;
    outline: none;
}

.linkInputContainer button {
    background: #144EE3;
    box-shadow: 4px 7px 16px 5px rgba(20, 78, 227, 0.45);
    border: none;
    border-radius: 35px;
    padding: 5px 45px;

    color: white;
    font-weight: bold;
    margin-left: 5px;

    cursor: pointer;
}

.linkInputContainer button:hover {
    background: #1041bc;
}

.linksCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.linkCardContainer{
      display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.linksStats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 63px;

    width: 80dvw;
    margin-top: 50px;
    margin-bottom: 5px;
    border-radius: 10px 10px 0px 0px;

    color: white;
    background-color: #181e29;
}


.linkCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 63px;

    width: 80dvw;
    margin-top: 3px;
    margin-bottom: 5px;


    color: white;
    background-color: #0e131e;
    /* включить если добавлю background */
    /* backdrop-filter: blur(10px); */
}

.linkCard a {
    font-size: 0.7em;
    color: #c9ced6;
}

.linkCard img {
    height: 35px;
    width: 35px;
}

#qrCode {
    height: 40px;
}