body {
    text-align: center;
}

.bodyContainer {
    margin-top: 75px;
}

.bodyContainer input {
    color: #b8bfc5;
    border: 3px solid #dee2e6;
    border-radius: 15px;
    font-size: larger;
    width: 500px;
    height: 65px;

}

.bodyContainer button {

    background-color: #ff8e88;
    color: black;
    margin-left: 10px;
    padding: 28px 30px;
    border: none;
    border-radius: 15px;

}

.bodyContainer button:hover {

    background-color: hsl(3, 100%, 65%);
    color: black;
    margin-left: 10px;
    padding: 28px 30px;
    border: none;
    border-radius: 15px;
}


.linksContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

}

.linkCard {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: white;
    margin-top: 50px;
    border-radius: 15px;
    width: 800px;
    height: 150px;
}

.linkCard button {
    border: 2px solid #e4e7ef;
    border-radius: 15px;
    padding: 13px 20px;
    margin-left: 15px;
}
.linkCard button:hover {
     border: 2px solid  #8bdf91;
    background-color: #8bdf91;
    cursor:  pointer;
}

.linkCard a {
    margin-left: 50px;
}

#qrCode {
    height: 80px;
    margin-left: 160px;
}